extends layout

block content
         .container-fluid
          table.table.table-hover
            tbody
              tr
                td This Story title Man. I am the owener of thi Repo
                td 11 am
                td
                  a(href='#')
                    i.fa.fa-trash
              tr
                td This Story title Man. I am the owener of thi Repo
                td 12 pm
                td
                  a(href='#')
                    i.fa.fa-trash
              tr
                td This Story title Man. I am the owener of thi Repo
                  td 12 pm
                  td
                   a(href='#')
                    i.fa.fa-trash
                    p #{articles.length}




