.author-color{
  color: #999;
}

.normal-row{
  background-color: #fff;
  border: 1px #ccc;
}

.custom-content{
  color: #333;
  font-size:13pt
}
.mouse-over-row{
  color: #fafafa
}

a.no-underline:link {
  text-decoration: none;
}